{% extends 'partials/base.html' %}



{% block title%} GESTION DE ALUMNOS {% endblock %}

{% block content %}

<div class="container">
    
    <div class="container mt-3">
        <h1> PAGINA GESTION ALUMNOS</h1>
        <p>Este bloque pertenece a la gestion de Alumnos</p>
    </div>

    <div class="container mt-3">
        {% include 'partials/student_add_form.html' %}
    </div>

    <div class="container mt-3">
        {% include 'partials/student_search_form.html' %}
    </div>

    <div id="search-results">
        {% include 'partials/student_search_result.html' %}
    </div>

</div>

{% endblock %}



