{% extends 'index/base.html' %}
{% block content %}
<!--####################-->
<!-- HTMX FORM BLOCK -->
<div class="container mt-5">
    <h1 class="text-center mb-4">Búsqueda de Alumnos</h1>
    <p class="text-center mb-5">Encuentra a los estudiantes de nuestra escuela por nombre, apellido o RUT.</p>

    <!-- htmx form -->
    <form method="get"
          action=""
          hx-get=""
          hx-target="#resulst"
          hx-trigger="input">

        <div class="input-group mb-3">
            <input type="text"
                   name="q"
                   value= "{{ query }}"
                   class="form-control"
                   placeholder="Buscar Estudiante"
                   aria-label="Buscar Estudiante">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </form>
    <!-- end htmx form -->

    <!--search results-->
    <div id="results">
        {% if students %}
        <h2>Resultados</h2>
        <ul class="list-group">
            {% for student in students %}
                <li class="list-group-item">
                    <strong>{{ student.lname }} - {{ student.name }} - {{ student.rut}}</strong><br>
                    <span class="text-muted">RUT:</span> {{ student.rut }}<br>
                    <span class="text-muted">Dirección</span> {{ student.address }}<br>
                    <span class="text-muted">Correo Institucional</span> {{ student.ins_email }}<br>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p class="text-center">No se encontraron estudiantes</p>
        {% endif %}
    </div>
    <!--end search results-->

</div>


<!-- END HTMX FORM BLOCK -->
<!--####################-->

{% endblock %}



